body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0%;
}
section{
    height: 500px;
}

h1{
    padding-top: 10px;
    font-size: 40px;
}

p{
    font-size: 25px;
}

.name{
    color: rgb(223, 134, 0);
}

.background-top{
    background-color:rgb(241, 235, 216);
}
.background-mid{
    background-color: rgb(240, 238, 229);
}
.background-end{
    background-color: rgb(189, 189, 189);
}
.two-part{
   width: 40%;
   height: 40%;
   float: left;
   margin-left: 5%;
   padding-left: 2%;
}

.two-part img{
    width: 60%;
}

.three-part{
        width: 30%;
        height: 30%;
        float: left;
        margin: 100px 20px;
        padding-left: 70px;
}
.three-part img{
    width: 60%;
}

.box{
    box-shadow: 10px 10px 40px gray ;
    border-radius: 10px;
    padding-top: 5px;
    height:380px ;
    width: 300px;
    margin-bottom: 10px;
}
.work-exp{
    text-align: center;

}
.exp{
    margin-left: 100px;
    
}

.button{
    text-decoration: none;
    background-image: linear-gradient(144deg, rgb(192, 189, 15), rgb(230, 160, 8));
    padding: 10px 8px;
    border-radius: 3px;
    font-weight: 100px;
    color: white;
}

.end{
        position: relative;
        text-align: center;
        color: rgb(228, 213, 13);
}
.bg img{
    width: 65%;
    height: 50%;
    margin: 5% 12% ;
    padding-left: 2%;

}

.work{
    position: absolute;
    top: 55%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.chat{
    font-size: 20px;
    text-align: right;
    position: absolute;
    top: 20px;
   left: 700px;
}





